@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import './helpers/placeholders';

body {
  background: #eee;
}


.v-enter-active,
.v-leave-active {
  transition: all 1s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
}