body {
    min-height: 100vh;
}

.bloco_conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94vh;
}

.form_login {
    max-width: 400px;
}

.img-fundo {
    max-width: 600px;
    min-width: 600px;
    top: 0px;
    right: 40px;
}

.input-login {
    background-color: transparent;
    border: none;
    border-bottom: solid #fff 1px;
    border-radius: 0px;
    color: $cor-auxiliar;
}

.input-login:focus {
    background-color: transparent;
    border: none;
    border-bottom: solid #fff 1px;
    border-radius: 0px;
    box-shadow: 0 0 0 0;
    color: $cor-auxiliar;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.icon {
    max-width: 25px;
}